{% extends 'base.html' %}

{% block sheetstyle %}
<style>
  .m_sidebar .nav-link {
    color: #333;
  }
</style>
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'boards:home' %}">Boards</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'echarts:chart_bar' %}">Echarts</a>
</li>
{% endblock %}

{% block container %}
<div class="container-fluid my-4 m_sidebar">
  <div class="row">
    <nav class="col-md-2">
      <ul class="nav flex-column">
        {% block chart_nav %}
        {% endblock %}
      </ul>
    </nav>
    {% block chart_instance %}
    {% endblock %}
  </div>
</div>
{% endblock %}
{% block javascript %}{% endblock %}