body {
    background-image: url(./images/paper_1_@2X.png);
  }
  
  .logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }